main {
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    width: 50%;
    height: 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--mid-blue);
    padding: 3px 4px;
}

#progressbar {
    height: 6px;
    border: none;
    border-radius: 6px;
    background-color: var(--light-blue);
    transition: width 1s;
}