nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12.4rem;
    padding-top: 4rem;
    z-index: 99;
}

.nav-desktop {
    display: flex;
}

.nav-mobile {
    display: none;
}

.body1 {
    text-decoration: none;
    color: var(--beige);
}