#chapter-item {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    video {
        @media screen and (width>1024px) {
            #illu-desktop {
                display: flex;
            }

            #illu-mobile {
                display: none;
            }
        }

        @media screen and (width<1024px) {
            #illu-desktop {
                display: none;
            }

            #illu-mobile {
                display: flex;
            }
        }
    }


    .modal-detail {
        height: 100vh;
        width: 100%;
        transition: top 0.8s;
        position: fixed;
        left: 0;
        top: -100vh;
        background-color: var(--dark-blue);
        background-blend-mode: multiply;
        backdrop-filter: blur(16px);
    }

    .change-modal-detail {
        top: 0;
    }
}