#redirect {
    display: flex;
    flex-direction: column;
    background-color: var(--beige-50);
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-inline: clamp(1.6rem, -0.3417rem + 8.2848vw, 9.6rem);


    h3 {
        color: var(--dark-blue);
        margin-top: 0;
    }

    a {
        position: absolute;
        bottom: 8rem;
        text-align: center;
    }

    #titles {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}